<div class="buttons">
  <h3>{{ buttonHeading }}</h3>
  <button
    [class.gold]="!goldInactive"
    [disabled]="goldInactive"
    (click)="goldInactive = !goldInactive"
  >
    Gold
  </button>
  <br />
  <button
    [class.silver]="!silverInactive"
    [disabled]="silverInactive"
    (click)="silverInactive = !silverInactive"
  >
    Silver
  </button>
  <br />
  <button
    [class.copper]="!copperInactive"
    [disabled]="copperInactive"
    (click)="copperInactive = !copperInactive"
  >
    Copper
  </button>
  <hr />
  <button (click)="toggleActivation()">Activate/Deactivate Buttons</button>
  <hr />

  <h3>{{ jokeHeading }}</h3>
  <button #frustration class="gold">Frustration Incarnate!</button>
  <hr />
  <button class="silver">Catch Me!</button>
</div>
